<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome to our weather channel</title>
</head>

<body>
	<h1>Welcome to our weather channel</h1>

    <h2>Current weather</h2>
</body>

</html>