<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>View Weather</title>
	<style>
		body {
			background-color: #f9fafc;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		h1 {
			color: #333;
			font-size: 36px;
			margin: 50px 0 30px 0;
			text-align: center;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			max-width: 600px;
			margin: auto;
			padding: 50px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			border-radius: 10px;
		}

		.form-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: 30px;
		}

		.form-label {
			display: inline-block;
			margin: 15px 0;
			font-size: 18px;
			font-weight: bold;
			color: #333;
		}

		.form-input {
			display: inline-block;
			padding: 10px;
			font-size: 18px;
			color: #333;
			border: none;
			border-radius: 5px;
			background-color: #f2f2f2;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			transition: all 0.2s ease-in-out;
			width: 80%;
			max-width: 400px;
			text-align: center;
		}

		.form-input:focus {
			outline: none;
			background-color: #fff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
		}

		.btn {
			display: inline-block;
			margin-top: 30px;
			padding: 15px 30px;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			color: #fff;
			background-color: #4f8aff;
			border-radius: 5px;
			transition: all 0.2s ease-in-out;
		}

		.btn:hover {
			background-color: #73a9ff;
		}

		.link {
			color: #4f8aff;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
		}

		.link:hover {
			color: #73a9ff;
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>View Weather</h1>
		<form action='/weather' method="post" class= "form-container">
			<label class="form-label" for="city">City Name:</label>
			<input class="form-input" type="text" id="city" name="city" placeholder="Enter a city name" required>
			<button class="btn" type="submit">View Weather</button>
		</form>
	</div>
</body>

</html>